<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <h1 class="text-info pt-4">Sipariş Verilmiştir</h1>
            <div class="pt-4">
                <a href="@Url.Action("OrderCustomer", "Order")" class="btn btn-primary">Siparişlerim</a>
            </div>
        </div>
    </div>
</div>