<div class="col-lg-2 p-0 pt-lg-4 text-center">
    <h1 class="text-info pt-4">Sipariş Verilmiştir.</h1>
    <div class="d-flex justify-content-center">
        <a href="@Url.Action("OrderByUserIndex", "Order")" class="btn btn-primary">Siparişlerim</a>
    </div>
</div>
