@model ProductDto

<form asp-action="BookEdit">
    <br />
    <div class="container border p-3">
        <h1 class="text-black text-center">Update Book</h1>
        <input hidden asp-for="ProductId" />
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Title</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ProductTitle" class="form-control" />
                <span asp-validation-for="ProductTitle" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Category</label>
            </div>

            <div class="col-10 pb-3">
                <select asp-for="CategoryId" class="form-control">
                    <option value="">-- Select Category --</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Price</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">StockQuantity</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ProductStockQuantity" class="form-control" />
                <span asp-validation-for="ProductStockQuantity" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Author</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="BookAuthor" class="form-control" />
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Publisher</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="BookPublisher" class="form-control" />
                <span asp-validation-for="BookPublisher" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">ISBNNo</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ISBNNumber" class="form-control" />
                <span asp-validation-for="ISBNNumber" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">ImageURL</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ProductImageURL" class="form-control" />
                <span asp-validation-for="ProductImageURL" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="BookIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Edit" class="btn btn-success form-control" />
            </div>

        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}